
<h3>Fill out the forms below to add book to your collection.</h3>

<%= form_for @book do |f| %>

  <% if @book.errors.any? %>
  <h2>Error!</h2>
  <ul>
    <% @book.errors.full_messages.each do |error_msg| %>
    <li><%= error_msg %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :url, "URL" %>
    <%= f.url_field :url %>
  </div>

  <%= f.submit "Submit" %>

<% end %>
