<h2><%= @book.title %></h2>
<p>By: <%= @book.author %></p>
<p>Description: <%= @book.description %></p>
<p>URL: <%= link_to @book.url %></p>

<p><%= link_to "Add a review", new_book_review_path(@book) %></p>
<div>&nbsp;</div>
<p><%= link_to "Back to homepage", root_path %></p>
