<h2><%= @book.title %></h2>
<p>By: <%= @book.author %></p>
<p>Description: <%= @book.description %></p>
<p>URL: <%= link_to @book.url %></p>

<p><%= link_to "Add a review", new_book_review_path(@book) %></p>
<div>&nbsp;</div>

<h3>Check out some reviews for <%= @book.title %> below.</h3>

<% @reviews.each do |review| %>
  <p>Reviewed by: <%= "#{review.user.first_name} #{review.user.last_name}, a #{review.user.role}." %></p>
  <p><%= review.description %></p>
  <hr/>
<% end %>

<p><%= link_to "Back to homepage", root_path %></p>
