<h2>Edit your review below.</h2>

<%= form_for [@book, @review] do |f| %>

<div>
  <%= f.label :description, "Description:" %>
  <%= f.text_area :description %>
</div>

<%= f.submit "Update Review", method: :post %>

<% end %>

<%= button_to "Delete this review", book_review_path(@book, @review), method: :delete %>
